body {
    font-size: 1.2rem;
}

#container {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: auto;
}

img {
    width: 100px;
    height: 100px;
    /* margin: auto; Nao modifica posicao da imagem se estiver display inline */
    display: block;
    margin: auto;
}

#container2 {
    text-align: center;
}